<app-add-task></app-add-task>

<div class="list-container">
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Task 1
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Task 1
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Task 1
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Task 1
    <button class="input-add btn">-</button>
  </div>
</div>

