<app-add-task></app-add-task>

<div class="list-container">
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Escolher o layout do projeto
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar o projeto
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar o componente do todo list (input de dados)
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Chamar a função do input para o funcionamento do botão
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar serviço para comunicação entre componentes
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar o componente de display das tarefas
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Fazer a comunicação entre os componentes de input e display
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar o model das tasks
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar função para criar a task
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar função para ‘marcar como feito’ (update)
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar função para enviar o marcar como feito (update)
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar função para editar a task (update com o novo texto)
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Criar função para excluir
    <button class="input-add btn">-</button>
  </div>
  <div class="list-item">
    <input class="input-add input" type="checkbox"> Sincronizar os dados com o servidor
    <button class="input-add btn">-</button>
  </div>
</div>

