@import url(//db.onlinewebfonts.com/c/749ba57b431f4eba8b31eb57d5aab83e?family=Brandon+Text+Medium);

header{
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #3282B8;
    font-family: "Brandon Text Medium";
}