/* .navbar {
    position: relative;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background: white;
    padding: -0.5rem 0;
    height: 60px;
    margin-top: -15px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: 0 1em 2em rgba(black, .05);
    z-index: 2;
    box-shadow: 0px 0px 25px -10px #000000;
} */

/* .bar a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

.logo{
    width: 170px;
    /* margin-top: 10px;
    margin-bottom: -10px; */
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 140px;
    height: 50px;
    background: white;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    box-shadow: 0px 0px 50px -15px #000000;
}

div:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

div:hover:before, div:hover:after {
    display: block;
    content: '';
    position: absolute;
    width: 140px;
    height: 60px;
    background: #FDA8CF;
    border-radius: 50px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

div:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;
    }
}
