.container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  height: 5vh;
  width: 50%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  font: large;
}

.material-Input {
  width: 100%;
  color: rgb(90, 90, 90);
}

.mat-icon {
 color: #3f51b5;
}

