<div class="container">
  <input class="inputBox" type="text" placeholder="Type your task..." name="tasks" [(ngModel)]="input.description" (keyup.enter)="getTask()">
  <!-- <mat-form-field class="material-Input">
    <mat-label>Digite a sua tarefa...</mat-label>
    <input type="text" matInput placeholder="Estudar, terminar projeto ..." name="tasks" [(ngModel)]="input.description" (keyup.enter)="getTask()">
    <mat-icon matSuffix>add</mat-icon>
  </mat-form-field> -->
</div>
<br />
<br />

<div class="newInput">

</div>