/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%27);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #7E57C2; */
    /* background-color: #fff; */
    background-color: #f2f6f5;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;
    overflow: auto;
}

